.movie-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100%;
    text-align: center;
}

.movie_header {
    display: flex;
    flex-shrink: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    flex-direction: column;
}

.search-input {
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
}

.filter-buttons button {
    margin-right: 20px;
    color: white;
    background-color: #000000;
    box-shadow: 0px 0px 2px 2px #000000, 0px 0px 2px 2px #FFFFFF;
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 60vw;
    margin-top: 130px;
}

.movie-item {
    position: relative; /* Set position to relative */
    width: 200px;
    margin: 10px;
    height: 500px; /* Consistent height */
    border: 1px solid #000000;
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.3s ease;
    display: inline-block;
}

.movie-item:hover {
    transform: scale(1.05);
    z-index: 10;
}

.movie-image {
    width: 100%;
    height: auto;
}

.movie-details {
    padding: 10px;
    text-align: left;
    height: 150px; /* Adjusted for consistency, consider content size */
    overflow: hidden; /* Hide overflow */
}

.movie-details h3 {
    white-space: nowrap; /* Keep titles in a single line */
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; /* Add ellipsis to overflow */
    width: 180px; /* Adjust width to fit within padding */
    margin: 0 auto; /* Center title */
}

.movie-details p {
    margin: 0;
    margin-bottom: 10px;
}

.watchlist-button, .watchlist-button-added {
    padding: 5px 10px;
    color: white;
    border: none;
    cursor: pointer;
}

.watchlist-button {
    background-color: #A949F5;
}

.watchlist-button-added {
    background-color: #28a745;
}

.load-more-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.load-more-button {
    background-color: #000000;
    padding: 10px 20px;
    color: white;
    box-shadow: 0px 0px 2px 2px #000000, 0px 0px 2px 2px #FFFFFF;
}

.favorite-button {
    position: absolute;
    top: 230px;
    left: 0;
    padding: 5px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    font-size: 50px;
    cursor: pointer;
    background-color: transparent;
    text-shadow: 0px 0px 5px black;
    opacity: 0; 
    transition: opacity 0.3s ease;
    animation: pulse 1s infinite alternate;
}

.movie-item:hover .favorite-button {
    opacity: 1;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}

.yellow-star {
    color: yellow;
}