.watchlist-button {
    background-color: #A949F5;
}

.watchlist-button-added {
    background-color: #28a745;
}

.reviews {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}  