
.comment-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.comment-popup-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgb(22, 22, 22);
    border-radius: 15px;
    padding: 20px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 1001;
}


.submit-comment {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding-top: 10px; 
    width: 100%; 
}


.submit-comment input[type="text"] {
    flex-grow: 1; 
    margin-right: 10px; 
    padding: 8px; 
}


.submit-comment button {
    background-color: rgb(83, 54, 156);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-comment button:hover {
    background-color: rgb(54, 110, 156);
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: transparent;
    font-size: 1.5rem;
    cursor: pointer;
    color: rgb(213, 213, 213);
    z-index: 1050;
}

.close-popup:hover {
    color: rgb(83, 54, 156); 
}

.comment-item {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin-bottom: 10px; 
}

.comment-text {
    flex-grow: 1; 
    margin-right: 10px; 
}

.delete-comment {
    cursor: pointer;
    background: none;
    border: none;
    color: #999; 
    font-size: 20px; 
}

.delete-comment:hover {
    color: rgb(147, 105, 255); 
}
