.homepage {
    display: flex;
    justify-content: center;
    padding-left: 200px;
    width: 100%;
    margin: auto;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    background-color: rgb(36, 36, 36);
}

.content {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.title {
    width: 100%;
    justify-content: center;
    display: flex;
    padding-left: 140px;
    animation: appearAndStretch 2s ease-out forwards;
    color: #FFFFFF;
    background-color: rgb(36, 36, 36);
    transform-origin: center;
    opacity: 0;
}

@keyframes appearAndStretch {
    0% {
        opacity: 0;
        transform: scaleX(0.2);
    }
    50% {
        opacity: 0.8;
        transform: scaleX(1.2);
    }
    100% {
        opacity: 1;
        transform: scaleX(1);
    }
}


.userposts {
    width: 55%;
    height: 100vh;
    overflow-y: auto;
    background-color: #000000;
    box-shadow: 0px 0px 2px 2px #000000, 0px 0px 2px 2px #FFFFFF;
    margin-top: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.sidetitle {
    margin-bottom: 20px;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #ffd700, #ff8c00, #ff4500, #ffd700);
    animation: flame 5s infinite linear;
    background-size: 200% 100%;
}

@keyframes flame {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 200% 50%;
    }
}



.rightsidebar {
    width: 30%;
    padding: 10px;
    height: 100vh;
    overflow-y: auto;
    background-color: #000000;
    box-sizing: border-box;
    box-shadow: 0px 0px 2px 2px #000000, 0px 0px 2px 2px #FFFFFF;
    border-radius: 8px;
    margin-top: 10px;
    margin-left: 70px;
    margin-bottom: 20px;
}

.userposts::-webkit-scrollbar,
.rightsidebar::-webkit-scrollbar,
.homepage::-webkit-scrollbar {
    display: none;
}

.userposts,
.rightsidebar
.homepage {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}

.home_movie-poster {
    width: 130px;
    height: 200px; 
    margin: 10px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
    transition: transform 0.3s ease;
    display: inline-block;
}

.home_movie-poster:hover {
    transform: scale(1.05);
    z-index: 10;
}

.filter-buttons {
    width: 100%;
    display: flex;
    padding-left: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.load-more-home-button {
    background-color: #000000;
    padding: 10px 20px;
    color: white;
    box-shadow: 0px 0px 2px 2px #000000, 0px 0px 2px 2px #FFFFFF;
    margin-bottom: 10px;
    margin-top: 10px;
}

