body {
    background-color: #1d1d1d;
    color: white;
}

.movie-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    margin-top: 200px;
  }
  
  .movie-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100vh;
    max-width: 1200px;
    align-items: center;
  }
  
  .movie-card {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 500px;
    margin: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.2s;
  }
  
  .movie-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  }
  
  .movie-card .close-button {
    top: 0;
    right: 0;
    padding: 5px;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    border-top-right-radius: 5px;
    position: absolute;
  }
  
  .movie-card img {
    width: 100%;
    height: auto;
  }
  
  .movie-card-details {
    padding: 10px;
    text-align: left;
  }
  
  .movie-card-button {
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.2s;
  }
  
  .movie-card-button:hover {
    background-color: #0056b3;
  }
  
  .movie-card .close-button {
    display: none;
  }
  
  .movie-card:hover .close-button {
    display: block;
  }
  
  
  

  